body {
    font-family: 'Inter', sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nav-link.active { background-color: #1E40AF; color: white; }
.dark .nav-link.active { background-color: #2563EB; }

.page { display: none; }
.page.active { 
    display: flex; 
    flex-direction: column; 
    animation: fadeIn 0.3s; 
}
@keyframes fadeIn { 
    from { opacity: 0; } 
    to { opacity: 1; } 
}

.fab-glow {
    position: relative; /* Garante que o pseudo-elemento seja posicionado em relação a este */
    z-index: 10; /* Garante que o botão fique acima do brilho */
}

.fab-glow::before {
    content: '';
    position: absolute;
    z-index: -1; /* Coloca o brilho estritamente atrás do botão */
    
    /* Ajustado para um contorno mais fino */
    inset: -2px; /* Reduzindo o espaçamento para ser mais como um contorno */
    
    /* Gradiente cônico (circular) mantido */
    background: conic-gradient(
        from 180deg at 50% 50%, 
        #f59e0b, /* Amarelo/Laranja */
        #f37db8, /* Rosa/Pink */
        #8b5cf6, /* Roxo */
        #3b82f6, /* Azul */
        #efb653  /* Fecha o ciclo com Amarelo */
    );
    
    /* Aumentado o blur para um efeito mais suave */
    border-radius: 9999px; /* rounded-full */
    filter: blur(20px); /* Ajustado para um desfoque mais intenso */
    
    /* Estado inicial: invisível */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.fab-glow:hover::before {
    /* Estado no hover: visível com opacidade total */
    opacity: 1;
}

.page { display: none; }
.page.active { 
    display: flex; 
    flex-direction: column; 
    animation: fadeIn 0.3s; 
}
@keyframes fadeIn { 
    from { opacity: 0; } 
    to { opacity: 1; } 
}